<div class="if-wrapper">
  <form [formGroup]="filterForm" (ngSubmit)="onInitialFilterSubmit()">
    <div class="if-form-row">
      <div class="cd-field">
        <label class="cd-label">Table Name</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='tableNamesArray' [allowFiltering]="true" formControlName="tableName"
            [popupHeight]="200" (change)="onTableDropdown(tableDropdown.value)" #tableDropdown></ejs-dropdownlist>
        </div>
        @if (filterForm.get('tableName')?.invalid && filterForm.get('tableName')?.touched) {
          <div class="cd-field-error">Table Name is required.</div>
        }
      </div>
      <div class="cd-field">
        <label class="cd-label">Field Name</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='selectedTableFieldName' [allowFiltering]="true"
            formControlName="fieldName" #fieldNameDropdown></ejs-dropdownlist>
        </div>
        @if (filterForm.get('fieldName')?.invalid && filterForm.get('fieldName')?.touched) {
          <div class="cd-field-error">Field Name is required.</div>
        }
      </div>
      <div class="cd-field">
        <label class="cd-label">Label Name</label>
        <input type="text" class="cd-input" formControlName="labelName">
      </div>
    </div>

    <div class="if-form-row">
      <div class="cd-field">
        <label class="cd-label">Filter Type</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='filterTypeOptions' [fields]='ddlFields'
            formControlName="filterType" [placeholder]="'--Select--'"></ejs-dropdownlist>
        </div>
        @if (filterForm.get('filterType')?.invalid && filterForm.get('filterType')?.touched) {
          <div class="cd-field-error">Filter Type is required.</div>
        }
      </div>

      @if (filterForm.get('filterType')?.value) {
        <div class="cd-field">
          <label class="cd-label">Select</label>
          <div class="cd-dropdown">
            <ejs-dropdownlist [dataSource]='currentPreviousOptions' [fields]='ddlFields'
              formControlName="currentOrPrevious" [placeholder]="'--Select--'"></ejs-dropdownlist>
          </div>
          @if (filterForm.get('currentOrPrevious')?.invalid && filterForm.get('currentOrPrevious')?.touched) {
            <div class="cd-field-error">Current/Previous is required.</div>
          }
        </div>
      }

      @if (filterForm.get('currentOrPrevious')?.value == 'previous') {
        <div class="cd-field">
          <label class="cd-label">Enter Value</label>
          <input type="number" class="cd-input" [value]="1" formControlName="previousNumber">
        </div>
      }
    </div>
  </form>
</div>