<div class="control-section e-tab-section">
  <div class="e-sample-resize-container">
    <!-- Render the Tab Component -->
    <ejs-tab id="tab_default" #tabComponent heightAdjustMode='Auto'>
      <e-tabitems>
        <e-tabitem [header]='headerText[0]'>
          <ng-template #content>
            <div class="tab-content">
              <form action="" [formGroup]="boxTemplateForm" (ngSubmit)="onBoxFormSubmit()">
                <div class="row">

                  <div class="col-md-4 form-group">
                    <label for="Title">Title</label>
                    <input class="form-control inputTitle" formControlName="title" type="text" name="" id="">
                  </div>
                  <div class="col-md-4 form-group">

                    <label for="tableName">Table Name
                      <span style="color:red; font-size: 14px;font-weight:600">*</span>
                    </label>
                    <!-- <select name="" id="" class="form-control inputTitle" formControlName="tableName" #tableNameDropdown
                      (click)="onTableDropdown(tableNameDropdown.value)">
                      <option [value]="name" *ngFor="let name of tableNamesArray; let i=index">{{name}}</option>
                    </select> -->

                    <ejs-dropdownlist [dataSource]='tableNamesArray' [allowFiltering]="true" formControlName="tableName"
                      (change)="onTableDropdown(tableDropdown.value)" #tableDropdown
                      class="tableNameDropdown"></ejs-dropdownlist>

                    <div *ngIf="boxTemplateForm.get('tableName')?.invalid && boxTemplateForm.get('tableName')?.touched"
                      class="error-message">
                      Table Name is required.
                    </div>

                  </div>

                  <div class="col-md-4 form-group">
                    <label for="fieldName">Field Name
                      <span style="color:red; font-size: 14px;font-weight:600">*</span>
                    </label>
                    <!-- <select name="" id="" class="form-control inputTitle" formControlName="fieldName"
                      (change)="onSecondDropdownChange($event)">
                      <option value="">--Select--</option>
                      <option [value]="name" *ngFor="let name of selectedTableFieldName; let i=index">{{name}}</option>
                    </select> -->

                    <ejs-dropdownlist [dataSource]='selectedTableFieldName' [allowFiltering]="true"
                      formControlName="fieldName" (change)="onSecondDropdownChange(fieldNameDropdown.value)"
                      #fieldNameDropdown class="tableNameDropdown"></ejs-dropdownlist>

                    <div *ngIf="boxTemplateForm.get('fieldName')?.invalid && boxTemplateForm.get('fieldName')?.touched"
                      class="error-message">
                      Field Name is required.
                    </div>
                  </div>


                </div>
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="labelName">Label Name</label>
                    <input type="text" [formControlName]="'labelName'" class="form-control inputTitle">

                  </div>

                  <div class="col-md-4 form-group">
                    <label for="orderByType" class="labelName">OrderBy Type</label>
                    <select name="" formControlName="orderByType" id="" class="form-control inputTitle">
                      <option value="">--Select--</option>
                      <option value="ASC">ASC</option>
                      <option value="DESC">DESC</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

          </ng-template>
        </e-tabitem>
        <!-- <e-tabitem [header]='headerText[1]'>
                      <ng-template #content>
                        <form action="" [formGroup]="boxTemplateForm" (ngSubmit)="onBoxFormSubmit()">
                      
                          <div class="row">
                           
                              <div class="col-md-4 form-group">
                                  <label for="fieldName">Field Name  <span style="color:red; font-size: 14px;font-weight:600">*</span></label>
                                  <select name="" id="" class="form-control inputTitle" formControlName="fieldName" (change)="onSecondDropdownChange($event)">
                                      <option value="">--Select--</option>
                                      <option [value]="name" *ngFor="let name of selectedTableFieldName; let i=index" >{{name}}</option>
                                  </select>
                              </div>
                              <div class="col-md-4 form-group">
                                  <label for="labelName">Label Name</label>                              
                                  <input type="text" [formControlName]="'labelName'" class="form-control inputTitle">
  
                              </div>
  
                              <div class="col-md-4 form-group">
                                <label for="" class="groupy">Group By</label>
                              
                                <ejs-multiselect class="multiSelectField" formControlName="groupBy"  [dataSource]="selectedTableFieldName"  mode="CheckBox" ></ejs-multiselect>
                              </div>                     
                          </div>
  
                        </form>
                      </ng-template>
                  </e-tabitem> -->
        <e-tabitem [header]='headerText[1]'>
          <ng-template #content>

            <div id="ChartCondition" class="tab-pane active">
              <div class="col-md-12 " id="modalBody" style="margin-right:1px;margin-top: 5px; ">
                <form action="" [formGroup]="boxTemplateForm" (ngSubmit)="onBoxFormSubmit()">

                  <!-- <input type="hidden" name="" value=""> -->
                  <div class="row" >
                    <div class="col-md-9 border" >
                      <fieldset>
                        <legend>Template conditions:

                        </legend>
                        <!-- <div class=""> -->
                        <div class="cleardiv  pull-right">

                          <button type="button" class="e-btn e-btn-purple" style="margin-bottom:5px"
                            (click)="onClearConditions()">Clear</button>
                        </div>

                        <div class="">

                          <!-- <textarea name="conditions" cols="40" rows="6" class="form-control" id="pop_chart_condition"
                            formControlName="conditions" [(ngModel)]="conditionValue">
                                                </textarea> -->
                                                <textarea name="conditions" cols="40" rows="8" class="form-control"
                                                id="pop_chart_condition" formControlName="conditions"
                                                [(ngModel)]="conditionValue"
                                                (click)="updateCursorPositionCondition($event)"
                                                (input)="updateCursorPositionCondition($event)"></textarea>

                        </div>
                        <div class="actionbuttons">

                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="+">+</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="-">-</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="*">*</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="/">/</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="==">==</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="<">&lt;</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="<=">&lt;=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="!=">!=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value=">=">&gt;=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value=">">&gt;</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="and">and</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="or">or</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="not">not</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value="(">(</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addText($event)"
                            value=")">)</button>

                        </div>


                      </fieldset>
                    </div>

                    <!-- <div ></div> -->

                    <div class="col-md-3 border" >

<!-- <div class="col-md-4" style="border: 1px solid lightgrey;
                    padding: 10px 10px; width:30%"> -->
                      <fieldset>
                        <legend>Select Table:
                        </legend>

                        <!-- <select name="" id="" (change)="onFirstDropdownChange($event)" class="form-control "
                          [formControlName]="'tableName'" style="border-radius:1.35rem!important;margin-bottom: 5px;">
                          <option value="">--Select--</option>
                          <option [value]="name" *ngFor="let name of tableNamesArray">{{name}}</option>
                        </select> -->

                        <input type="text" class="form-control tableInputTitle" formControlName="tableName"
                      >
                        <div class="tabldiv">
                          <div class="headerstylepopup">
                            <h5 class="popuph5style">Selected Table Field Names</h5>
                          </div>
                          <div class="Tablelist" style="height: 140px;">
                            <ul class="list-group">
                              <li class="list-group-items" (click)="addToConditionTextarea(name)"
                                *ngFor="let name of selectedTableFieldName">
                                {{name}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </ng-template>
        </e-tabitem>

        <e-tabitem [header]='headerText[2]'>
          <ng-template #content>
            <div id="ChartCondition" class="tab-pane active">
              <div class="col-md-12" id="modalBody" style="margin-right:1px;margin-top: 5px">
                <form action="" [formGroup]="boxTemplateForm" (ngSubmit)="onBoxFormSubmit()">

                  <!-- <input type="hidden" name="" value=""> -->
                  <div class="row" >
                    <div class="col-md-9 border" >
                      <fieldset>
                        <legend>Raw Query:

                        </legend>
                        <!-- <div class=""> -->
                        <div class="cleardiv  pull-right">

                                  <button type="button" (click)="onCopyRawQuery()"
                                                        class="e-btn e-btn-purple" style="margin-bottom:5px"
                                                        id="chartbtnCopyRawQuery">Copy</button>
                                                    &nbsp;
                                                    <span *ngIf="copyMessage" style="position:absolute; top:10px; left:50%; transform:translateX(-50%);
             background:#323232; color:#fff; padding:6px 12px;
             border-radius:6px; font-size:13px;">
                                                        {{ copyMessage }}
                                                    </span>



                          <button type="button" class="e-btn e-btn-purple" style="margin-bottom:5px"
                            (click)="onClearRawQuery()">Clear</button>
                        </div>

                        <div class="">

                          <!-- <textarea name="conditions" cols="40" rows="6" class="form-control" id="pop_chart_condition"
                            formControlName="rawQuery" [(ngModel)]="rawQueryValue">
                                                </textarea> -->

                           <textarea name="conditions" cols="40" rows="9" class="form-control"
                                                id="pop_chart_expression" formControlName="rawQuery"
                                                [(ngModel)]="rawQueryValue"
                                                (click)="updateCursorPosition($event)"
                                                (input)="updateCursorPosition($event)">
                                             
                                                  
                                             
                                               </textarea>                                               

                        </div>
                        <div class="actionbuttons">

                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="+">+</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="-">-</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="*">*</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="/">/</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="==">==</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="<">&lt;</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="<=">&lt;=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="!=">!=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value=">=">&gt;=</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value=">">&gt;</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="and">and</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="or">or</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="not">not</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value="(">(</button>
                          <button type="button" class="e-btn e-btn-purple oper" (click)="addRawQueryText($event)"
                            value=")">)</button>
                          <button type="button"
                            class='e-btn e-btn-purple oper' (click)="addRawQueryText($event)"
                            value="{apply_filters}">Apply_Filters</button>

                        </div>


                      </fieldset>
                    </div>


                    <div class="col-md-3 border">
                      <fieldset>
                        <legend>Select Table:
                        </legend>

                        <!-- <select name="" id="" (change)="onFirstDropdownChange($event)" class="form-control "
                          [formControlName]="'tableName'" style="border-radius:1.35rem!important;margin-bottom: 5px;">
                          <option value="">--Select--</option>
                          <option [value]="name" *ngFor="let name of tableNamesArray">{{name}}</option>
                        </select> -->

                        <input type="text" class="form-control tableInputTitle" formControlName="tableName"
                          >
                        <div class="tabldiv">
                          <div class="headerstylepopup">
                            <h5 class="popuph5style">Selected Table Field Names</h5>
                          </div>
                          <div class="Tablelist" style="height: 157px;">
                            <ul class="list-group">
                              <li class="list-group-items" (click)="addToTextarea(name)"
                                *ngFor="let name of selectedTableFieldName">
                                {{name}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
  </div>
</div>