<div class="control-section" style="padding:15px">
  <div class="row">
    <div class="col-md-10" style="padding-left:0">
      <div class="tableTitle popupHeader">
        <span>
          Roles
        </span>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" placeholder="Search Role" class="form-control" (input)="onSearchChange($event)"
            [(ngModel)]="filterTerm">
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-1">
      <button ejs-button class="e-btn e-btn-purple" title="Create"
        *ngIf="(!permissionObj || permissionObj?.can_create) !== false" style="margin-top:10px"
        (click)="dialogBtnClick()">
        <i class="fas fa-user-plus" title="Create"></i>
      </button>
    </div>
  </div>

  <div class="row dataGrid" style="margin-top: 10px;">
    <div class="e-mobile-content">
      <ejs-grid [dataSource]='filteredRolesArray' [pageSettings]='initialPage' #grid id="adaptivebrowser"
        enableAdaptiveUI='true' height='300' [allowPaging]="true">
        <e-columns>
          <e-column field="role" headerText="Role" [textAlign]="'Left'"></e-column>
          <e-column field="description" headerText="Description" [textAlign]="'Left'"></e-column>

          <e-column field="is_active" headerText="Active" [textAlign]="'Left'">
            <ng-template #template let-filteredRolesArray>
              <span [ngStyle]="{ color: filteredRolesArray.is_active ? 'green' : 'red' }">
                {{ filteredRolesArray.is_active ? 'Active' : 'Inactive' }}
              </span>
            </ng-template>
          </e-column>
          <e-column headerText='Action' [textAlign]="'Center'">
            <ng-template #template let-filteredRolesArray>
              <button ejs-button cssClass="e-btn e-btn-purple" title="Edit"
                *ngIf="(!permissionObj || permissionObj?.can_update) !== false"
                (click)="editRecord(filteredRolesArray)">
                <i class="fas fa-edit"></i>
              </button>
              <!-- <i class="fas fa-edit " style="color:rgb(162, 90, 230); margin-right:10px"></i> -->


              <button style="margin-left:7px" title="Role Permission"
                *ngIf="(!roleBasedAccessObj || roleBasedAccessObj?.can_view) !== false" ejs-button
                cssClass="e-btn e-btn-purple" (click)="onRoleFormClick(filteredRolesArray)">
                <i class="fas fa-user-lock"></i>
              </button>
              <!-- <i class="fas fa-user-lock" style="color:rgb(162, 90, 230)"></i> -->

              <!-- <button style="margin-left:7px" title="Dashboard Permission"
                *ngIf="(!roleBasedAccessObj || roleBasedAccessObj?.can_view) !== false"
                ejs-button cssClass="e-btn e-btn-purple" (click)="openDashboardPopup(filteredRolesArray)">
                  <i class="fas fa-th-list"></i>

                </button> -->
              <!-- <i class="fas fa-th-list" style="color:rgb(162, 90, 230); margin:0px 10px"></i> -->


              <button ejs-button cssClass="e-btn e-btn-purple" title="Delete"
                *ngIf="(!permissionObj || permissionObj?.can_delete) !== false" style="margin-left:7px "
                (click)="deleteRecord(filteredRolesArray)">
                <i class="fas fa-trash"></i>
              </button>

              <button style="margin-left:7px" title="Role dashboard Permission"
                *ngIf="(!roleDashboardPermissionObj || roleDashboardPermissionObj?.can_view) !== false" ejs-button
                cssClass="e-btn e-btn-purple" (click)="onRoledashboardFormClick(filteredRolesArray)">
                <i class="fas fa-th-list"></i>
              </button>
              <!-- <i class="fas fa-trash" style="color:rgb(162, 90, 230)"></i> -->

            </ng-template>
          </e-column>

        </e-columns>
      </ejs-grid>
    </div>
  </div>





  <ejs-dialog id="defaultDialog" #defaultDialog [isModal]='isModal' [visible]='visible' [header]="formTitle"
    [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon'
    (open)="dialogOpen()" (close)="dialogClose()" [target]='target' [width]='dialogWidth' height="350">
    <div class=" registrationform">

      <div>

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

          <div class="formInfo">
            <div class="row">


              <div class="col-md-12 form-group">
                <div class="inputValue">
                  <label class="labelName"> Role <span style="color:red; font-size: 14px;font-weight:600">*</span>
                  </label>
                  <input type="text" formControlName="role" (input)="onRoleSerach($event)" class="form-control">
                  <div class="validation-error"
                    *ngIf="registrationForm.get('role')!.invalid && (registrationForm.get('role')!.touched || registrationForm.get('role')!.dirty)">
                    Role is required
                  </div>

                  <div class="validation-error" *ngIf="roleValid">
                    {{ roleErrorMessage }}
                  </div>

                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="inputValue">
                  <label class="labelName"> Description </label>
                  <!-- <input  type="text" formControlName="description" class="form-control"  (focus)="onInputFocus($event)" (blur)="onInputBlur($event)" /> -->

                  <textarea name="" id="" cols="48" rows="3" style=" border: 1px solid #ccc; border-radius: 4px;"
                    formControlName="description"></textarea>
                  <div class="validation-error"
                    *ngIf="registrationForm.get('description')!.invalid && (registrationForm.get('description')!.touched || registrationForm.get('description')!.dirty)">
                    Description is required
                  </div>


                </div>
              </div>
              <div class="col-md-12">
                <label for="" class="labelName" style="display: block;" style="display: block;">Active</label>
                <!-- <input type="checkbox" cssClass="e-small"  formControlName="is_active"> -->
                <ejs-switch cssClass="bar-color" [(checked)]="isActiveToggle"></ejs-switch>
              </div>

              <div class="col-md-12" style="margin-top:10px">
                <div [align]="'right'">
                  <button type="submit" *ngIf="submitFlag" ejs-button class="e-btn e-btn-purple">Submit</button>
                  <button type="button" *ngIf="updateFlag" ejs-button (click)="onUpdate()"
                    class="e-btn e-btn-purple">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ejs-dialog>

  <ejs-dialog id="roleDialogBox" #roleDialogBox [isModal]='isModal' [visible]='visible' [header]="'Role Permissions'"
    [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon'
    (open)="dialogOpen()" (close)="dialogClose()" [target]='target' [width]='900'>

    <ng-template #content>
      <div class="accessDiv">
        <app-role-based-permission [getRoleObj]="sendRoleObj"
          (resMessage)="getResponseMessage($event)"></app-role-based-permission>
      </div>
    </ng-template>

    <ng-template #footerTemplate>
      <button class="e-btn e-btn-purple"
        *ngIf="((!roleBasedAccessObj || roleBasedAccessObj?.can_create) !== false) && submitRolePermissionBtn"
        (click)="onRoleBasedFormSubmit()">
        Submit
      </button>

      <button class="e-btn e-btn-purple"
        *ngIf="((!roleBasedAccessObj || roleBasedAccessObj?.can_update) !== false) && updateRolePermissionBtn"
        (click)="onUpdateRolebasedForm()">
        Update
      </button>

       <button class="e-btn e-btn-purple"
        *ngIf="((!roleBasedAccessObj || roleBasedAccessObj?.can_delete) !== false) && updateRolePermissionBtn"
        (click)="onDeleteRolebasedForm()">
        Delete
      </button>


    </ng-template>

  </ejs-dialog>

  <ejs-dialog id="roleDbPermissionDlgBox" #roleDbPermissionDlgBox [isModal]='isModal' [visible]='visible'
    [header]="RoleName" [allowDragging]='dialogdragging' [animationSettings]='animationSettings'
    [showCloseIcon]='dialogCloseIcon' [target]='target' [width]='1000' height="450">

    <ng-template #content>
      <div>
        <div style="padding:10px 5px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dashboard Name</th>
                <th>View</th>
                <th>Create</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dashboard of dashboardPermissionsList">
                <td>{{ dashboard.dashboard_name }}</td>
                <td><input type="checkbox" [checked]="dashboard.can_view" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_create" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_delete" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_update" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_download" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </ng-template>



  </ejs-dialog>


  <ejs-dialog id="multipleDbPermission" #multipleDbPermission [isModal]='isModal' [visible]='visible'
    [header]="RoleName" [allowDragging]='dialogdragging' [animationSettings]='animationSettings'
    [showCloseIcon]='dialogCloseIcon' [target]='target' [width]='1000' height="450">

    <ng-template #content>
      <div>
        <app-multiple-dashboard-role-permission [getRoleObj]="sendRoleObjToPermissionPage"
          (resMessage)="getResponseMessage($event)"></app-multiple-dashboard-role-permission>
      </div>
    </ng-template>

    <ng-template #footerTemplate>
      <button class="e-btn e-btn-purple"
        *ngIf="((!roleDashboardPermissionObj || roleDashboardPermissionObj?.can_create) !== false) && isSubmitDashboardFlag"
        (click)="onDashboardRoleSubmit()">
        Submit
      </button>

      <button class="e-btn e-btn-purple"
        *ngIf="((!roleDashboardPermissionObj || roleDashboardPermissionObj?.can_update) !== false) && isUpdateDashboardFlag"
        (click)="onDashboardRoleUpdate()">
        Update
      </button>
    </ng-template>

  </ejs-dialog>

</div>