<div class="popup1" id="popup1">
  <div class="popup-content1">
    <span class="close1" (click)="removePopup()">&times;</span>
    <div id="popup-message1" class="popup-message1">
      @if (isSuccess) {
        <div class="successDiv">
          <i class="bi bi-check-circle green iconSuccess"></i>
          <h3 style="font-size: 22px">
            Success !
          </h3>
          <p class="truncate">
            {{message}}
          </p>
          <button class="btn btn-success" (click)="closePopup()">
            OK
          </button>
        </div>
      }

      @if (!isSuccess) {
        <div class="errorDiv">
          <i class="bi bi-exclamation-circle orange iconSuccess"></i>
          <h3  style="font-size: 22px">
            Warning !
          </h3>
          <p class="truncate">
            {{message}}
          </p>
          <button class="btn btn-warning"  (click)="closePopup()">
          OK        </button>
        </div>
      }

    </div>
  </div>
</div>
<div class="backdrop2" id="backdrop2"></div>






