<div class="control-section" style="padding:15px">
  <div class="row">
    <div class="col-md-8" style="padding-left:0">
      <div class="tableTitle popupHeader">
        Users
      </div>

      <div class="row" style="padding-left:0">
        <div class="col-md-6">
          <input type="text" placeholder="Search User" class="form-control" (input)="onSearchChange($event)"
            [(ngModel)]="filterTerm">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Search Role" class="form-control" (input)="onSearchRoleChange($event)"
            [(ngModel)]="filterRoleTerm">
        </div>
      </div>

    </div>
    <div style="text-align: right; padding-top:10px" class="col-md-4">
      <button class="e-btn e-btn-purple pointer" title="Create"
        *ngIf="(!permissionObj || permissionObj?.can_create) !== false" ejs-button (click)="dialogBtnClick()">
        <!-- Add User -->
        <i class="fas fa-user-plus" title="Create"></i>
      </button>

      <button class="e-btn e-btn-purple pointer"  title="Upload Users" (click)="openUserPopup()" style="margin:2px 10px"
        *ngIf="(!permissionObj || permissionObj?.can_create) !== false">
        <!-- Upload Users -->
        <i class="fas fa-file-upload" title="Upload Users"></i>
      </button>

      <button class="e-btn e-btn-purple pointer " title="Upload Users" (click)="downloadUsers()" 
        *ngIf="(!permissionObj || permissionObj?.can_create) !== false">
         <i class="fas fa-download" title="Download Users"></i>
      </button>

    </div>
  </div>

  <div class="row" style="margin-top: 10px;">


    <ejs-grid [dataSource]='filteredUsersArray' allowSorting="true" [showColumnMenu]="true" #grid id="adaptivebrowser"
      [allowPaging]="true" [pageSettings]='initialPage' height='300'>
      <e-columns>
        <e-column field="username" headerText="User Name"></e-column>
        <e-column field="first_name" headerText="First Name"></e-column>
        <e-column field="last_name" headerText="Last Name"></e-column>
        <e-column field="email" headerText="Email"></e-column>
        <e-column field="role" headerText="Role"></e-column>
        <e-column field="is_active" headerText="Active">


          <ng-template #template let-filteredUsersArray>
            <span [ngStyle]="{ color: filteredUsersArray.is_active ? 'green' : 'red' }">
              {{ filteredUsersArray.is_active ? 'Active' : 'Inactive' }}
            </span>
          </ng-template>
        </e-column>
        <e-column headerText='Action' textAlign="Center" width="200">
          <ng-template #template let-filteredUsersArray>

            <button ejs-button cssClass="e-btn e-btn-purple pointer" [title]="'Edit'"
              *ngIf="(!permissionObj || permissionObj?.can_update) !== false" (click)="editRecord(filteredUsersArray)">
              <i class="fas fa-edit"></i>
            </button>
            <button style="margin-left:7px; cursor: pointer;"
              *ngIf="(!userBasedAcessObj || userBasedAcessObj?.can_view) !== false" ejs-button
              cssClass="e-btn e-btn-purple pointer" [title]="'User Permissions'"
              (click)="onRoleFormClick(filteredUsersArray)">
              <i class="fas fa-user-lock"></i>

            </button>

            <!-- <button style="margin-left:7px" title="Dashboard Permission"
            *ngIf="(!userBasedAcessObj || userBasedAcessObj?.can_view) !== false"
            ejs-button cssClass="e-btn e-btn-purple pointer" (click)="openDashboardPopup(filteredUsersArray)">
              <i class="fas fa-th-list"></i>

            </button> -->

            <button ejs-button cssClass="e-btn e-btn-purple pointer" [title]="'Delete'"
              *ngIf="(!permissionObj || permissionObj?.can_delete) !== false" style="margin-left:7px; cursor: pointer;"
              (click)="deleteRecord(filteredUsersArray)">
              <i class="fas fa-trash"></i>
            </button>

            <button style="margin-left:7px" title="Dashboard Permission"
              *ngIf="(!userDashboardPermissionObj || userDashboardPermissionObj?.can_view) !== false" ejs-button
              cssClass="e-btn e-btn-purple pointer" (click)="openDashboardPermissionPopup(filteredUsersArray)">
              <i class="fas fa-th-list"></i>

            </button>

            <button  *ngIf="userInfoData.username === 'superadmin'" style="margin-left:7px" title="Reset Password" ejs-button
              cssClass="e-btn e-btn-purple pointer" (click)="openResetPasswordDialog(filteredUsersArray)">
              <i class="fas fa-key"></i>

            </button>



          </ng-template>

        </e-column>
      </e-columns>
    </ejs-grid>
  </div>


  <!-- <div class="popup" id="popup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <div id="popup-message" class="popup-message"></div>
      <button (click)="closePopup()" class="e-btn e-btn-purple">Ok</button>
    </div>
  </div>
  <div class="backdrop" id="backdrop"></div>
   -->


  <ejs-dialog id="defaultDialog" #defaultDialog [isModal]='isModal' [visible]='visible' [header]="FormTitle"
    [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon'
    [target]='target' [width]='dialogWidth'>
    <div class=" registrationform">

      <div>

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

          <div class="formInfo">
            <div class="row">
              <div class="col-md-4 form-group">
                <div class="inputValue">
                  <label class="labelName"> UserName <span style="color:red; font-size: 14px;font-weight:600">*</span>
                  </label>
                  <input type="text" formControlName="username" (input)="onCheckUserName($event)" class="form-control"
                    (focus)="onInputFocus($event)"  (blur)="onInputBlur($event)"   />
                  <div class="validation-error"
                    *ngIf="registrationForm.get('username')!.invalid && (registrationForm.get('username')!.touched || registrationForm.get('username')!.dirty)">
                    Username is required
                  </div>
                  <div class="validation-error" *ngIf="roleValid">
                    {{ roleErrorMessage }}
                  </div>


                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="inputValue">
                  <label class="labelName"> FirstName <span style="color:red; font-size: 14px;font-weight:600">*</span>
                  </label>
                  <input type="text" formControlName="firstName" class="form-control" (focus)="onInputFocus($event)"
                    (blur)="onInputBlur($event)" />
                  <div class="validation-error"
                    *ngIf="registrationForm.get('firstName')!.invalid && (registrationForm.get('firstName')!.touched || registrationForm.get('firstName')!.dirty)">
                    FirstName is required
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="inputValue">
                  <label class="labelName"> LastName <span
                      style="color:red; font-size: 14px;font-weight:600">*</span></label>
                  <input type="text" class="form-control" formControlName="lastName" (focus)="onInputFocus($event)"
                    (blur)="onInputBlur($event)" />
                  <div class="validation-error"
                    *ngIf="registrationForm.get('lastName')!.invalid && (registrationForm.get('lastName')!.touched || registrationForm.get('lastName')!.dirty)">
                    Lastname is required
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="inputValue">
                  <label class="labelName"> Roles <span
                      style="color:red; font-size: 14px;font-weight:600">*</span></label>

                  <ejs-dropdownlist [dataSource]='rolesObjArr' [allowFiltering]="true" formControlName="role"
                    [popupHeight]="200" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)"
                    [fields]="rolefields" class="tableNameDropdown"></ejs-dropdownlist>


                  <div class="validation-error"
                    *ngIf="registrationForm.get('role')!.invalid && (registrationForm.get('role')!.touched || registrationForm.get('role')!.dirty)">
                    Role is required
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="inputValue">
                  <label class="labelName"> Email <span
                      style="color:red; font-size: 14px;font-weight:600">*</span></label>
                  <input type="email" class="form-control" (input)="onEmailCheck($event)" formControlName="email"
                    (focus)="onInputFocus($event)" (blur)="onInputBlur($event)" />
                  <div class="validation-error"
                    *ngIf="registrationForm.get('email')!.invalid && (registrationForm.get('email')!.touched || registrationForm.get('email')!.dirty)">
                    Email is required & must be a valid email address.

                  </div>
                  <div class="validation-error" *ngIf="isEmailValid">
                    {{ email }}
                  </div>
                </div>

              </div>
              <div class="col-md-4 form-group" >
                <div class="inputValue">
                  <label class="labelName">Password 
                    <!-- <i class="fas fa-info-circle" (click)="togglePasswordRequirements($event)"></i>  -->
                    
                    
                    </label>
                  <input  #password
                  [type]="isRegistedPasswordVisible ? 'text' : 'password'"
                  class="form-control"
                  placeholder="Password *"
                   formControlName="password" 
                   (focus)="onInputFocus($event)"
                    (blur)="onInputBlur($event)"
                    required
                    
                    />

                    <i class="password-eye-icon" (click)="toggleRegisterPasswordVisibility(password)">
                      <i [ngClass]="isRegistedPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </i>

                    <div class="validation-error" *ngIf="getRegisteredPasswordErrors('password').length > 0">
                      <div *ngFor="let error of getRegisteredPasswordErrors('password')">{{error}}</div>
                    </div>

                    <div class="password-info validation-error" *ngIf="showPasswordRequirements">
                      <ul>
                        <li>{{passwordRequirements.minLength}}</li>
                        <li>{{passwordRequirements.uppercase}}</li>
                        <li>{{passwordRequirements.lowercase}}</li>
                        <li>{{passwordRequirements.number}}</li>
                        <li>{{passwordRequirements.special}}</li>
                      </ul>
                    </div>

                </div>



              </div>
              <div class="col-md-4 form-group" >
                <div class="inputValue">
                  <label class="labelName">Confirm Password <span
                      style="color:red; font-size: 14px;font-weight:600">*
                    
                    </span></label>

                  <input #confirmRegisteredPassword [type]="isRegistedConfirmPasswordVisible ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                    (focus)="onInputFocus($event)" (blur)="onInputBlur($event)" />

                    <i class="password-eye-icon" (click)="toggleRegisterConfirmPasswordVisibility(confirmRegisteredPassword)">
                      <i [ngClass]="isRegistedConfirmPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </i>

                  <div class="validation-error"
                    *ngIf="registrationForm.get('confirmPassword')!.invalid 
                            && (registrationForm.get('confirmPassword')!.touched || registrationForm.get('confirmPassword')!.dirty)">
                    <div *ngIf="registrationForm.get('confirmPassword')!.errors?.['required']">
                      Confirm Password is required.
                    </div>
                    <div *ngIf="registrationForm.get('confirmPassword')!.errors?.['minLength']">
                      Confirm Password must be at least 8 characters long.
                    </div>
                    <div *ngIf="registrationForm.get('confirmPassword')!.errors?.['invalidPasswordFormat']">
                      Confirm Password should have at least 5 letters, 1 special character, and 1 number.
                    </div>
                    <div *ngIf="registrationForm.get('confirmPassword')!.errors?.['passwordMismatch']">
                      Password and Confirm Password didn't matched.
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-md-4 form-group">
                <label for="active" class="labelName" style="display:block">Active</label>
                <!-- <input type="checkbox" formControlName="isActive" style="display: block;" name=""> -->
                <!-- <ejs-switch cssClass="bar-color"  formControlName="isActive"></ejs-switch> -->
                    <ejs-switch cssClass="bar-color" formControlName="isActive"></ejs-switch>
              </div>
              <div class="col-md-12">
                <div [align]="'right'">
                  <button type="submit" ejs-button *ngIf="submitFlag" 
                    class="e-btn e-btn-purple">Submit</button>
                  <button type="button" ejs-button *ngIf="updateFlag" 
                    (click)="onUpdate()" class="e-btn e-btn-purple">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ejs-dialog>

  <ejs-dialog id="roleDialogBox" #roleDialogBox [isModal]='isModal' [visible]='visible' [header]="'User Permissions'"
    [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon'
    [target]='target' [width]='900'>

    <ng-template #content>
      <div class="formInfo">
        <app-user-based-permission [getUserObj]="sendUserObj"
          (resMessage)="getResponseMessage($event)"></app-user-based-permission>

      </div>

    </ng-template>

    <ng-template #footerTemplate>


      <ng-container
        *ngIf="((!userBasedAcessObj || userBasedAcessObj?.can_create) !== false) && submitRolePermissionBtn">

      </ng-container>


      <button class="e-btn e-btn-purple"
        *ngIf="((!userBasedAcessObj || userBasedAcessObj?.can_create) !== false) && submitRolePermissionBtn"
        (click)="onUserBasedFormSubmit()">
        Submit
      </button>

      <button class="e-btn e-btn-purple"
        *ngIf="((!userBasedAcessObj || userBasedAcessObj?.can_update) !== false) && updateRolePermissionBtn"
        (click)="onUpdateUserPermission()">
        Update
      </button>

      <button class="e-btn e-btn-purple"
        *ngIf="((!userBasedAcessObj || userBasedAcessObj?.can_update) !== false) && updateRolePermissionBtn"
        (click)="onDeleteUserPermission()">
        Delete
      </button>

    </ng-template>

  </ejs-dialog>



  <ejs-dialog id="userUploadPopup" #userUploadPopup [isModal]='isModal' [visible]='visible' [header]="'Upload Users'"
    [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon'
    [target]='target' [width]='400'>

    <ng-template #content>

      <div class="formInfo">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:15px; ">
            <label for="" style="display:block; font-weight: 500; font-size: 12px;">Download Format</label>

            <button class="e-btn e-btn-purple" title="Download Format" (click)="downloadTemplate()">
              <i class="fas fa-download"></i>
            </button>
          </div>

          <div class="col-md-12">
            <label for="" style="display:block; font-weight: 500; font-size: 12px">Upload Users</label>
            <input type="file" class="form-control" (change)="onFileChange($event)" accept=".xlsx, .xls" />

          </div>
        </div>
      </div>



    </ng-template>

    <ng-template #footerTemplate>


      <button class="e-btn e-btn-purple" (click)="onUsersUpload()"
        *ngIf="((!permissionObj || permissionObj?.can_create) !== false) && submitRolePermissionBtn">
        Upload Users
      </button>

      <button class="e-btn e-btn-purple" (click)="onUsersUpdateUpload()"
        *ngIf="((!permissionObj || permissionObj?.can_update) !== false) && submitRolePermissionBtn">
        Upadate Users
      </button>

    </ng-template>

  </ejs-dialog>

  <ejs-dialog id="roleDbPermissionDlgBox" #roleDbPermissionDlgBox [isModal]='isModal' [visible]='visible'
    [header]="UserName" [allowDragging]='dialogdragging' [animationSettings]='animationSettings'
    [showCloseIcon]='dialogCloseIcon' [target]='target' [width]='1000' height="400">

    <ng-template #content>
      <div>
        <div style="padding:15px 5px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dashboard Name</th>
                <th>View</th>
                <th>Create</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dashboard of dashboardPermissionsList">
                <td>{{ dashboard.dashboard_name }}</td>
                <td><input type="checkbox" [checked]="dashboard.can_view" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_create" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_delete" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_update" disabled></td>
                <td><input type="checkbox" [checked]="dashboard.can_download" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </ng-template>



  </ejs-dialog>


  <ejs-dialog id="multipleDbPermission" #multipleDbPermission [isModal]='isModal' [visible]='visible'
    [header]="UserName" [allowDragging]='dialogdragging' [animationSettings]='animationSettings'
    [showCloseIcon]='dialogCloseIcon' [target]='target' [width]='1000' height="450">

    <ng-template #content>
      <div>
        <app-multiple-dashboard-user-permission [getUserObj]="sendUserDashboardObj"
          (resMessage)="getResponseMessage($event)"></app-multiple-dashboard-user-permission>
      </div>
    </ng-template>

    <ng-template #footerTemplate>
      <button class="e-btn e-btn-purple"
        *ngIf="((!userDashboardPermissionObj || userDashboardPermissionObj?.can_create) !== false) && isSubmitUserDashboardFlag"
        (click)="onDashboardRoleUserSubmit()">
        Submit
      </button>

      <button class="e-btn e-btn-purple"
        *ngIf="((!userDashboardPermissionObj || userDashboardPermissionObj?.can_update) !== false) && isUpdateUserDashboardFlag"
        (click)="onDashboardRoleUserUpdate()">
        Update
      </button>
    </ng-template>

  </ejs-dialog>

  <ejs-dialog id="resetPasswordPopup" #resetPasswordPopup [isModal]="isModal" [visible]="visible"
    [header]="resetPasswordHeader" [allowDragging]="dialogdragging" [animationSettings]="animationSettings"
    [showCloseIcon]="dialogCloseIcon" [target]="target" [width]="'400px'">

    <!-- Content Template -->
    <ng-template #content>
      <div class="registrationform" style="margin-top:10px">
        <form [formGroup]="resetPasswordForm">
          <div class="form-container">

            <!-- New Password Field -->
            <div class="field-container">
              <div class="field position-relative">
                <label class="labelName">New Password 
                  
                  <!-- <i class="fas fa-info-circle" (click)="togglePasswordRequirements($event)"></i>  -->
           
                  
                  </label>

                <input #newPasswordInput [type]="isResetPasswordVisible ? 'text' : 'password'" placeholder="New Password *"
                  formControlName="new_password" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)"
                  class="form-control" required />
                <span class="fas fa-lock"></span>
                <i class="eye-icon" (click)="toggleResetPasswordVisibility(newPasswordInput)">
                  <i [ngClass]="isResetPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </i>
              </div>

              <div class="validation-error" *ngIf="getPasswordErrors('new_password').length > 0">
                <div *ngFor="let error of getPasswordErrors('new_password')">{{error}}</div>
              </div>

              <div class="password-info" *ngIf="showPasswordRequirements">
                <ul>
                  <li>{{passwordRequirements.minLength}}</li>
                  <li>{{passwordRequirements.uppercase}}</li>
                  <li>{{passwordRequirements.lowercase}}</li>
                  <li>{{passwordRequirements.number}}</li>
                  <li>{{passwordRequirements.special}}</li>
                </ul>
              </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="field-container">
              <div class="field position-relative">
                <label class="labelName">Confirm Password <span
                    style="color:red; font-size: 14px;font-weight:600">*</span></label>

                <input #confirmPasswordInput [type]="isResetConfirmPasswordVisible ? 'text' : 'password'"
                  placeholder="Confirm Password *" formControlName="confirm_password" (focus)="onInputFocus($event)"
                  (blur)="onInputBlur($event)" class="form-control" required />
                <span class="fas fa-lock"></span>
                <i class="eye-icon" (click)="toggleResetConfirmPasswordVisibility(confirmPasswordInput)">
                  <i [ngClass]="isResetConfirmPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </i>
              </div>

              <div class="validation-error" *ngIf="shouldShowPasswordMismatch()">
                Passwords do not match
              </div>
            </div>

          </div>
        </form>
      </div>

    </ng-template>

    <!-- Footer Template -->
    <ng-template #footerTemplate>
      <button class="e-btn e-btn-purple" style="margin-right: 10px;" type="button" (click)="onPasswordResetSubmit()">
        Save
      </button>
    </ng-template>

  </ejs-dialog>




</div>