@use "../../../core/sass/popup.scss";

.custom-form {
  // max-width: 1000px;
  // margin: auto;

  max-width: 1107px;
  /* margin: auto; */
  margin: 9px 21px;
}

.radio-group {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;
}

.radio-label {
  margin-left: 5px;
}
.form-group {
  margin-bottom: 20px;
}

.uploadFileDiv {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;


}

// .btn-primary {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .btn-primary:hover {
//   background-color: #0056b3;
// }

// .e-btn-purple {
//   // background-color: #9977f9;
//   color: white;
//   font-size: 12px;

//   box-shadow: -3px -3px 6px 0 #fff, 3px 3px 6px 0 #bfc3cf;
//   background: linear-gradient(140deg, #35d3e1 -12.54%, rgba(13, 53, 148, .898) 109.98%);
//   border: none


// }

// .e-btn-purple:hover {
//   // color: #9977f9;

//   color: linear-gradient(140deg, #35d3e1 -12.54%, rgba(13, 53, 148, .898) 109.98%);
//   background-color: white;
//   transition: all 0.3s;
// }

// .e-dialog.e-draggable>.e-dlg-header-content {
//   background: #CDC1FF
// }

.progressBarEle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-49%, -114%);
}


