label.labelFeild {
    font-size: 11px;
    font-weight: 500;
}

select.form-control.selectInputFeild,
input.form-control.inputFeild {
    height: 27px;
    font-size: 11px;
}

.custom-table th.table-name {
    width: 20%;
}

.custom-table th.field-name {
    width: 20%;
}

.custom-table th.raw-query {
    width: 40%;
}

.custom-table th.level {
    width: 10%;
}

.custom-table th.actions {
    width: 10%;
}

.cleardiv {
    padding: 1px 16px 5px;
}