<div class="rm-wrapper">
  <form [formGroup]="userMappingForm" (ngSubmit)="onMappingFormSubmit()">
    <div class="rm-form-row">
      <div class="cd-field">
        <label class="cd-label">Table Name</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='tableNamesArray' [allowFiltering]="true" formControlName="tableName"
            (change)="onTableDropdown(tableDropdown.value)" #tableDropdown></ejs-dropdownlist>
        </div>
      </div>
      <div class="cd-field">
        <label class="cd-label">Field Name</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='fieldNamesArray' [allowFiltering]="true"
            formControlName="fieldName"></ejs-dropdownlist>
        </div>
      </div>
      <div class="cd-field">
        <label class="cd-label">Role</label>
        <div class="cd-dropdown">
          <ejs-dropdownlist [dataSource]='RolesArray' [allowFiltering]="true"
            formControlName="roleName" [fields]="roleFields"></ejs-dropdownlist>
        </div>
      </div>
    </div>
    <div class="rm-action-row">
      @if (saveflag) {
        <button type="submit" class="cd-btn cd-btn-primary">
          <i class="bi bi-plus-lg"></i> Add
        </button>
      }
      @if (updateFlag) {
        <button type="button" class="cd-btn cd-btn-primary" (click)="updateForm()">
          <i class="bi bi-arrow-repeat"></i> Update
        </button>
      }
    </div>
  </form>

  <div class="rm-grid-wrap">
    <ejs-grid [dataSource]='userMappingArr' height="180">
      <e-columns>
        <e-column field="roleName" headerText="Role"></e-column>
        <e-column field="tableName" headerText="Table Name"></e-column>
        <e-column field="fieldName" headerText="Field Name"></e-column>
        <e-column headerText='Action' width='120'>
          <ng-template #template let-userMappingArr>
            <button class="rm-icon-btn" (click)="editRecord(userMappingArr)" title="Edit">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="rm-icon-btn rm-icon-btn-danger" (click)="deleteRecord(userMappingArr)" title="Delete">
              <i class="bi bi-trash"></i>
            </button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>

  <div class="rm-footer">
    <button type="button" class="cd-btn cd-btn-primary" (click)="onSubmit()">
      <i class="bi bi-check2-all"></i> Save
    </button>
  </div>
</div>