<div class="control-section" id="wrapper" #pageContent>
    <!-- main content declaration -->
    <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">
        <div id="head">
            <div class="header" style="display: flex;">
                <div class="menuBar1" (click)="onClickMenu()">
  

                    <span class="e-icons   fas fa-bars" style="color:rgba(13, 53, 148, 0.898);">
                    </span>
                </div>
  
                <!-- <div class="menu1">
                <img src="./../../../assets/images/tataAigUpdatedLogo.jpeg" alt=""  class="img-fluid">
                </div> -->

                <!-- working code <div class="menu1" [ngClass]="{'img-set': app_name !== 'alticeus'}">
                    <img [src]="app_logo" alt="" class="img-fluid">
                </div> -->

                <div class="menu1" [ngClass]="{'img-set': app_name !== 'alticeus'}" [ngStyle]="{
    width: app_name === 'altice' ? '162px' : (app_name === 'trasccon-arnir' ? '192px' : 'auto')
  }">
                    <img [src]="app_logo" alt="" class="img-fluid">
                </div>


                <div class="LogOut">
  
                    <button class="non-mobile-button" ejs-dropdownbutton [items]='items' [content]="username"
                        (select)="onselect($event)" iconCss="fas fa-user-circle"></button>
  
                    <!-- Second button for mobile devices -->
                    <button class="mobile-button" ejs-dropdownbutton [items]='items' (select)="onselect($event)"
                        iconCss="fas fa-user-circle"></button>
  
                </div>
  
            </div>
        </div>
        <div id="target">
  
            <div class="sidebar-content " id="sidebar-content">
                <app-loader></app-loader>
                <div class="dashboardParent">
                    <app-popup></app-popup>
  
                    <router-outlet>
                    </router-outlet>

                    <!-- <app-paging-table></app-paging-table> -->

                </div>
            </div>
        </div>
        <!-- sidebar component -->
        <div class="sideBar">
            <ejs-sidebar id="dockSidebar" #sidebarInstance class="dockSidebar bg-purple" [dockSize]="smlDoclSize"
                [width]="docksizeWidth" [target]="target" [isOpen]="false" [enableGestures]="false"
                [enableDock]='enableDock' [type]="type">
  
                <div class="e-listview">
                    <div class="e-list-container">
                        <ul class="e-list-parent bg-purple">

                            <ng-container>
                                <!-- <li class="e-list-item bg-purple" title="Home" routerLinkActive="true"
                                    routerLink="/sidebar/panel/dashboardHome">
                                    <div class="e-text-content">
                                        <i class="fas fa-igloo e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Home
                                        </span>
                                    </div>
                                </li> -->

                    <li class="e-list-item bg-purple" 
                                title="Home" 
                                routerLinkActive="true"
                                (mouseenter)="onHomeHover(true)"
                                (mouseleave)="onHomeHover(false)"
                                (click)="navigateToHome($event)">
                            <div class="e-text-content">
                            <i class="fas fa-igloo e-list-icon"></i>
                            <span class="e-list-text" style="text-align: left;">
                                 Home
                            </span>
                            <span class="arrow-click-area"
                                (click)="toggleHomeTreeview(); $event.stopPropagation()">
                            <i class="fas" [ngClass]="{
                            'fa-chevron-down': isHomeTreeviewOpen,
                            'fa-chevron-right': !isHomeTreeviewOpen
                            }"></i>
                            </span>
                        </div>
                    </li>

                            

                           <!-- ...existing code... -->
                    <ul class="e-list-parent bg-purple" *ngIf="isHomeTreeviewOpen"
                            style="padding-left: 20px; height: 200px; overflow-y: auto;">
                            
                            <!-- LOADER - Shows when loading -->
                            <li class="e-list-item bg-purple no-hover" *ngIf="isLoadingDashboards" 
                                style="text-align: center; padding: 80px; padding-left: 30px;">

                                <div class="e-text-content">
                                    <i class="fas fa-spinner fa-spin" style="font-size: 24px; color: #264a9f;"></i>
                                </div>
                            </li>

                            <!-- DASHBOARD LIST - Shows when not loading -->
                            <ng-container *ngIf="!isLoadingDashboards">
                                <li class="e-list-item bg-purple"
                                    *ngFor="let dash of viewableDashboards"
                                    routerLinkActive="true" [title]="dash.dashboard_name"
                                    [routerLink]="'/sidebar/panel/panelView/' + dash.dashboard_id">
                                    <div class="e-text-content">
                                        <span class="e-list-text"
                                            style="text-align: left; font-size: 10px; font-family: sans-serif, Roboto,Segoe UI, GeezaPro; padding-bottom: 0px;">
                                            {{ dash.dashboard_name }}
                                        </span>
                                    </div>
                                </li>

                                <!-- No dashboards message -->
                                <li class="e-list-item bg-purple" *ngIf="viewableDashboards.length === 0 && role !== 'superadmin'">
                                    <div class="e-text-content">
                                        <span class="e-list-text" style="text-align: left; font-size: 10px; font-style: italic;">
                                            No dashboards available
                                        </span>
                                    </div>
                                </li>
                            </ng-container>
                    </ul>
                    <!-- ...existing code... -->


                            </ng-container>

                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple " title="Create Dashboard"
                                    *ngIf="permission?.form_name == 'createDashboard' && permission?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/create">
                                    <div class="e-text-content">

                                        <i class="fas fa-chart-bar e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Create Dashboard
                                        </span>
                                    </div>
                                </li>
                            </ng-container> -->

                            <ng-container >
                                <li class="e-list-item bg-purple " title="Create Dashboard"
                                    *ngIf="role == 'superadmin' || createDashboardObj?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/create">
                                    <div class="e-text-content">

                                        <i class="fas fa-chart-bar e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Create Dashboard
                                        </span>
                                    </div>
                                </li>
                            </ng-container>



                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" title="Add Role"
                                    *ngIf="permission?.form_name == 'addRole' && permission?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/role">
                                    <div class="e-text-content">
                                        <i class="fas fa-user-tag e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Add Role
                                        </span>
                                    </div>
                                </li>
                            </ng-container> -->

                        <ng-container >
                                <li class="e-list-item bg-purple" title="Add Role"
                                    *ngIf="role == 'superadmin' || createRoleObj?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/role">
                                    <div class="e-text-content">
                                        <i class="fas fa-user-tag e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Add Role
                                        </span>
                                    </div>
                                </li>
                            </ng-container>



<!-- 
                            <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" title="Add User"
                                    *ngIf="permission?.form_name == 'addUser' && permission?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/user">
                                    <div class="e-text-content">
                                        <i class="fas fa-users e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Add User
                                        </span>
                                    </div>

                                </li>
                            </ng-container> -->

                            
                            <ng-container >
                                <li class="e-list-item bg-purple" title="Add User"
                                  *ngIf="role == 'superadmin' || createUserObj?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/user">
                                    <div class="e-text-content">
                                        <i class="fas fa-users e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Add User
                                        </span>
                                    </div>

                                </li>
                            </ng-container>

                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" title="DB Connection"
                                    *ngIf="permission?.form_name == 'dbConnection' && permission?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/databaseConnection">
                                    <div class="e-text-content">
                                        <i class="fas fa-database e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            DB Connection
                                        </span>
                                    </div>
                                </li>
                            </ng-container> -->

                        <ng-container >
                                <li class="e-list-item bg-purple" title="DB Connection"
                                    *ngIf="role == 'superadmin' || createDatabaseConnectionObj?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/databaseConnection">
                                    <div class="e-text-content">
                                        <i class="fas fa-database e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            DB Connection
                                        </span>
                                    </div>
                                </li>
                            </ng-container>


                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" title="File Upload"
                                    *ngIf="permission?.form_name == 'fileUploadToDb' && permission?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/fileupload">
                                    <div class="e-text-content">
                                        <i class="fas fa-upload e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            File Upload
                                        </span>
                                    </div>
                                </li>
                            </ng-container> -->

                         <ng-container >
                                <li class="e-list-item bg-purple" title="File Upload"
                                    *ngIf="role == 'superadmin' || fileUploadObj?.can_view "
                                    routerLinkActive="true" routerLink="/sidebar/panel/fileupload">
                                    <div class="e-text-content">
                                        <i class="fas fa-upload e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            File Upload
                                        </span>
                                    </div>
                                </li>
                            </ng-container>

                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" routerLinkActive="true" title=" Table Join"
                                    *ngIf="permission?.form_name == 'tableJoin' && permission?.can_view "
                                    routerLink="/sidebar/panel/jointable">
                                    <div class="e-text-content">
                                        <i class="fas fa-table e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Table Join
                                        </span>
                                    </div>
                                </li>
                            </ng-container> -->

                         <ng-container >
                                <li class="e-list-item bg-purple" routerLinkActive="true" title=" Table Join"
                                    *ngIf="role == 'superadmin' || createjointableObj?.can_view "
                                    routerLink="/sidebar/panel/jointable">
                                    <div class="e-text-content">
                                        <i class="fas fa-table e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Table Join
                                        </span>
                                    </div>
                                </li>
                            </ng-container>
                            <!-- <ng-container *ngFor="let permission of menuBasedPermissionArray">
                                <li class="e-list-item bg-purple" routerLinkActive="true" title="Dashboard Setup "
                                    *ngIf="permission?.form_name == 'dashboardSetup' && permission?.can_view "
                                    routerLink="/sidebar/panel/dashboardRearrage">
                                    <div class="e-text-content">
                                        <i class="fas fa-cog e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Dashboard Setup
                                        </span>
                                    </div>
                                </li>

                            </ng-container> -->

                            <ng-container>
                                <li class="e-list-item bg-purple" routerLinkActive="true" title="Dashboard Setup "
                                    *ngIf="role == 'superadmin' || DashboardSetupObj?.can_view "
                                    routerLink="/sidebar/panel/dashboardRearrage">
                                    <div class="e-text-content">
                                        <i class="fas fa-cog e-list-icon"></i>
                                        <span class="e-list-text" style="text-align: left;">
                                            Dashboard Setup
                                        </span>
                                    </div>
                                </li>
  
                            </ng-container>

   

                        </ul>
                    </div>
                </div>
  
            </ejs-sidebar>
        </div>
  
    </div>
  
  
  </div>
  
  <!-- Chat Button and Popup -->
  <div class="chat-widget">
    <div class="chat-popup" [class.show-popup]="showChatPopup">
      <div class="chat-header">
        <div class="chat-title">
          <i class="fas fa-robot"></i>
          <div>
            <h3>{{userMessage}}</h3>
            <!-- <p>{{userMessage}}</p> -->
          </div>
        </div>

          <!-- Info Icon and Tooltip -->
          <div class="info-tooltip-wrapper" *ngIf="!isCredPresent" style="margin-left:80px" id="infoIconHeader">
            <i class="fas fa-info-circle info-icon" id="infoIconClick" onclick="toggleTooltip()"></i>
            <div class="tooltip-text" id="tooltipText">
              <h4>📊 Need insights from a chart or table?</h4>
              <p>
                Add this to your prompt: <code class="syntax">#table:'TableTitle' / #chart:'ChartTitle'</code>
              </p>
              <p>
                📌 Replace <code class="syntax">'Title'</code> with the actual title of chart or table  following with your prompt.
              </p>
            </div>
          </div>
          

        <button class="close-btn" (click)="toggleChatPopup()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="chat-body">

     <div class="default-aiassistview">

        <div id="aiAssistView" ejs-aiassistview #defaultAIAssistView #dialogAIAssistView [promptSuggestions]="suggestions" [toolbarSettings]="assistViewToolbarSettings"  (promptRequest)="promptRequest($event)"  [responseToolbarSettings]="responseToolbarSettings"  [showHeader]="false" ></div>
    </div>
        
  
      </div>
    </div>
    <!-- <button class="chat-button" (click)="openChatbot()" *ngIf="chatbotSetupObj?.can_view || usersData.username == 'superadmin' ">
      <i class="fas fa-comment-dots"></i>
      <span>Wizard</span>
    </button> -->

    <button class="chat-button" (click)="openChatbot()" *ngIf="chatbotSetupObj?.can_view || usersData.username == 'superadmin' ">
  <i class="fas fa-comment-dots"></i>
  <span>{{ isCredPresent ? 'Wizard' : 'Help' }}</span>
</button>

  </div>