<div class="formDiv" style="padding:20px 10px">
    <!-- Form -->
    <form action="" [formGroup]="boxTemplateForm" (ngSubmit)="onBoxFormSubmit()">

        <div class="row">

          <div class="col-md-4 form-group">
            <label for="labelName" class="labelFeild">Title</label>
            <input type="text" [formControlName]="'labelName'" class="form-control">
          </div>

          
          <div class="col-md-4 form-group">
            <label for="labelName" class="labelFeild">Title FontSize</label>
            <input type="number" [formControlName]="'labelFontSize'" class="form-control">
          </div>
          
          <div class="col-md-4 form-group">
            <label for="labelName" class="labelFeild">Title FontColor</label>
            <input type="color" ejs-colorpicker [formControlName]="'labelFontColor'" class="form-control">
          </div>


        </div>
        <div class="row">

            <div class="col-md-4 form-group">
                <label for="labelName" class="labelFeild">Background Color</label>
                <input type="color" ejs-colorpicker [formControlName]="'backgroundColor'" class="form-control">
              </div>
            
          <!-- <div class="col-md-4 form-group">
            <label for="labelName" class="labelFeild">Title Alignment</label>

            <select name="" id="" [formControlName]="'labelAlignment'" class="form-control">
                <option value="">Select</option>
                <option value="Left">Left</option>
                <option value="Right">Right</option>
                <option value="Center">Center</option>
            </select>
          </div> -->

          <div class="col-md-4 form-group">
            <label for="labelName" class="labelFeild">Layout Type</label>
            <!-- <input type="text" [formControlName]="'labelAlignment'" class="form-control"> -->

            <select name="" id="" [formControlName]="'layout'" class="form-control">
                <option value="">Select</option>
                <!-- <option value="left-label-right-icon">left-label-right-icon</option> -->
                <option value="space-between">space-between-layout</option>
                <option value="reverse-horizontal">reverse-horizontal-layout</option>
                <option value="vertical">vertical-layout </option>
                <option value="horizontal">horizontal-layout</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="icon" class="labelFeild"> Select Icon</label>
            <ejs-dropdownlist #icon id='icons' formControlName="icon" [dataSource]='panelTypeDataArray'
            [placeholder]='"Select type"'  class="tableNameDropdown" [fields]='iconFields'></ejs-dropdownlist>

          </div>



        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="" class="labelFeild">Icon Color</label>
                <input type="color"  formControlName="iconColor"  ejs-colorpicker>
            </div>

            <div class="col-md-4 form-group">
                <label for="" class="labelFeild">Icon FontSize</label>
                <input type="number"  formControlName="iconFontSize"  class="form-control">
            </div>
        </div>



    </form>

  </div>
  