<div class="control-section drag">


  <div class="filterInput row">
    <div class="col-md-5" style="padding-left:10px">
      <input class="form-control filterInputIcon" [(ngModel)]="filterTerm" placeholder="Search...">
    </div>

    <div class="col-md-7 Menuicons">
<!-- 
      <button class="e-btn e-btn-purple" style="margin:0px 5px"  
    title="Card View" routerLink="/sidebar/panel/groupingViewDashboard"
       >
       <i class="bi bi-plus-lg" title="View Grouped Dashboard">
       </i>
     </button> -->

      <button class="e-btn e-btn-purple" style="margin:0px 5px" *ngIf="listviewIcon" title="List View"
        (click)="toggleView('listView')">
        <i class="bi bi-list " title="List View">
        </i>
      </button>

      <button class="e-btn e-btn-purple" style="margin:0px 5px" *ngIf="cardViewIcon" title="Card View"
        (click)="toggleView('card')">
        <i class="bi bi-grid " title="Card View">
        </i>
      </button>

      <ng-container *ngFor="let permission of menuBasedPermissionControlArray">
        <button class="e-btn e-btn-purple" *ngIf="permission?.form_name == 'dashboardSetup' && permission?.can_view "
          title="Dashboard Setup" routerLink="/sidebar/panel/dashboardRearrage">
          <i class="bi bi-gear " title="Dashboard Setup"></i>
        </button>
      </ng-container>



    </div>
  </div>


  <div class="listView" #listView style="display: none;">
    <div class="" *ngFor="let obj of dashboardDetailArray | filter: filterTerm; let i = index">
      <div class="dashboardDiv">
        <div class="e-card dbList" (click)="onViewClick(obj)">
          <div class="listContainer">
            <div class="row">
              <div class="col-md-7">
                <div class="imageDescription row">
                  <div class="col-md-3">

                    <ng-container *ngIf="obj.imageFlag; else backgroundDiv">

                      <img [src]="obj.dashboard_image ? obj.dashboard_image : obj.imageUrl">
                    </ng-container>
                    <ng-template #backgroundDiv>
                      <div [ngStyle]="{'background': obj.backgroundColor, 'width': '100%', 'height': '60px'}"></div>
                    </ng-template>

                  </div>

                  <div class="col-md-9">
                    <span class="dbTitle" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}">
                      {{obj.dashboard_name }}
                    </span>
                    <span class="dbDescription" [ngStyle]="{
                        'color':'rgb(38, 74, 159)' }">
                      {{obj.description}}
                    </span>


                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <button ejs-button class="e-btn iconBtn card1-content-icon " style=" cursor: pointer;" [title]="'View'"
                  *ngIf="
                    getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_view !== false
                    " (click)="onViewClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-eye icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

                <button ejs-button class="e-btn iconBtn card1-content-icon" style=" cursor: pointer;" [title]="'Update'"
                  *ngIf="
                 getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_update !== false"
                  (click)="onEditClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-pencil-square icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>


                <button ejs-button class="e-btn iconBtn card1-content-icon" style=" cursor: pointer;"
                  [title]="'Copy Dashboard'"
                  *ngIf="
               getPermissionById(obj.dashboard_id) === undefined  || getPermissionById(obj.dashboard_id)?.can_create !== false"
                  (click)="copyDashboard(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-copy icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>


                <button ejs-button class="e-btn iconBtn card1-content-icon" style=" cursor: pointer;" *ngIf=" roleDashboardPermissionObj &&
                 roleDashboardPermissionObj.can_view !== false" [title]="'Role Dashboard Permission'"
                  (click)="onRoleBasedAcess(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-person-badge icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

                <button ejs-button class="e-btn iconBtn card1-content-icon" *ngIf="
                userDashboardPermissionObj && 
                userDashboardPermissionObj?.can_view !== false
                    " style=" cursor: pointer;" [title]="'User Dashboard Permission'"
                  (click)="onUserBasedAccess(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-people icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

                <button ejs-button class="e-btn iconBtn card1-content-icon" style=" cursor: pointer;" *ngIf="
                   getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_delete !== false
                     " [title]="'Delete'" (click)="onDeleteClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-trash icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div #cardView class="card cardView">
    <div class="row">

      <!-- Show group cards if no group is selected -->
      <!-- <ng-container *ngIf="!selectedGroup">
      <div class="col-md-3" *ngFor="let group of groupedDashboardArray">
        <div class="card1" (click)="selectGroup(group)">
          <div class="card1-content">
            <h5 class="card1-title" [ngStyle]="{ 'color': 'rgb(38, 74, 159)' }">{{ group.groupname }}</h5>
            <p class="card1-subtitle" [ngStyle]="{ 'color': 'rgb(38, 74, 159)' }">Click to view dashboards</p>
          </div>
        </div>
      </div>
    </ng-container> -->
      <!-- 
    <div class="col-md-12" *ngIf="!selectedGroup">
      <div *ngFor="let group of groupedDashboardArray" class="col-md-3">
        <div class="main-card">
          <div class="custom-card" (click)="selectGroup(group)">
            <div class="top-sphere-container">
              <img class="sphere-img" src="group.imageUrl"  />
            </div>
      
            <div class="custom-card-content" >
              <h5 class="custom-card-title">{{ group.groupname}}</h5>
              <button class="custom-card-button">View Dashboards</button>
            </div>
          </div>

        </div>
      </div>
    </div> -->






      <div class="col-md-12" *ngIf="!selectedGroup">
        <div *ngFor="let obj of dashboardDetailArray | filter: filterTerm; let i = index" class="col-md-3">
          <div class="card1" (click)="onViewClick(obj)">
            <ng-container *ngIf="obj.imageFlag; else backgroundDiv1">

              <div class="card1Img">
                <img [src]="obj.dashboard_image ? obj.dashboard_image : obj.imageUrl">

              </div>
            </ng-container>
            <ng-template #backgroundDiv1>
              <div [ngStyle]="{'background': obj.backgroundColor, 'width': '100%', 'max-height': '200px',
              'height': '200px'}"></div>
            </ng-template>
            <div class="card1-content">
              <h5 class="card1-title" [ngStyle]="{
                'color':'rgb(38, 74, 159)'}">{{ obj.dashboard_name }}</h5>
              <p class="card1-subtitle" [ngStyle]="{
                'color':'rgb(38, 74, 159)'}">{{ obj.description || '&nbsp;' }}</p>
              <div>


                <button ejs-button class="e-btn iconBtn card1-content-icon" [title]="'View'"
                  *ngIf=" getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_view !== false "
                  (click)="onViewClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-eye icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>
                <button ejs-button class="e-btn iconBtn card1-content-icon" [title]="'Update'"
                  *ngIf=" getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_update !== false"
                  (click)="onEditClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-pencil-square icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>


                <button ejs-button class="e-btn iconBtn card1-content-icon" style=" cursor: pointer;"
                  [title]="'Copy Dashboard'"
                  *ngIf="
               getPermissionById(obj.dashboard_id) === undefined  || getPermissionById(obj.dashboard_id)?.can_create !== false"
                  (click)="copyDashboard(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-copy icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>



                <button ejs-button class="e-btn iconBtn card1-content-icon"
                  *ngIf="  roleDashboardPermissionObj &&  roleDashboardPermissionObj?.can_view !== false"
                  [title]="'Role Dashboard Permission'" (click)="onRoleBasedAcess(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-person-badge icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

                <button ejs-button class="e-btn iconBtn card1-content-icon"
                  *ngIf="  userDashboardPermissionObj &&   userDashboardPermissionObj?.can_view !== false"
                  [title]="'User Dashboard Permission'" (click)="onUserBasedAccess(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-people icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

                <button ejs-button class="e-btn iconBtn card1-content-icon"
                  *ngIf=" getPermissionById(obj.dashboard_id) === undefined || getPermissionById(obj.dashboard_id)?.can_delete !== false "
                  [title]="'Delete'" (click)="onDeleteClick(obj); $event.stopPropagation()">
                  <span class="iconColor">
                    <i class="bi bi-trash icon" [ngStyle]="{
                      'color':'rgb(38, 74, 159)'}"></i>
                  </span>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- <app-view-grouped-dashboard></app-view-grouped-dashboard> -->

  <div class="progressBarEle">

  </div>

</div>


@if (showRoleDialog) {
<div class="cd-modal-backdrop" (click)="onCancelPopup()"></div>
<div class="cd-modal cd-modal-xl">
  <div class="cd-modal-header">
    <div class="cd-modal-header-icon"><i class="bi bi-person-lock"></i></div>
    <h3 class="cd-modal-title">Role - Dashboard Permission</h3>
    <button class="cd-modal-close" type="button" (click)="onCancelPopup()" aria-label="Close"><i class="bi bi-x-lg"></i></button>
  </div>
  <div class="cd-modal-body">
    <div class="accessDiv" *ngIf="showChildComponent">
      <app-role-dashboard-access [dashboardId]="roleDashboardObj" (resFlag)="resFlag($event)"
        (resMessage)="getResponseMessage($event)" #roleBasedDialog></app-role-dashboard-access>
    </div>
  </div>
  <div class="cd-modal-footer-inline">
    <button class="cd-btn cd-btn-sm cd-btn-primary" *ngIf="(roleDashboardPermissionObj?.can_create !== false) && submitFlag" (click)="onRoleBasedAccessSubmit()">Submit</button>
    <button class="cd-btn cd-btn-sm cd-btn-primary" *ngIf="(roleDashboardPermissionObj?.can_update !== false) && updateFlag" (click)="onUpdateRoleBasedAccess()">Update</button>
    <button class="cd-btn cd-btn-sm cd-btn-danger" *ngIf="(roleDashboardPermissionObj?.can_delete !== false) && updateFlag" type='button' (click)="delteRolePermission()">Delete Permission</button>
  </div>
</div>
}


@if (showUserDialog) {
<div class="cd-modal-backdrop" (click)="showUserDialog = false; showUserPopup = false"></div>
<div class="cd-modal cd-modal-xl">
  <div class="cd-modal-header">
    <div class="cd-modal-header-icon"><i class="bi bi-person-lock"></i></div>
    <h3 class="cd-modal-title">User - Dashboard Permissions</h3>
    <button class="cd-modal-close" type="button" (click)="showUserDialog = false; showUserPopup = false" aria-label="Close"><i class="bi bi-x-lg"></i></button>
  </div>
  <div class="cd-modal-body">
    <div class="accessDiv" *ngIf="showUserPopup">
      <app-user-dashboard-access [userBasedDashboardId]="sendDashboardId" (resFlag)="resUserFlag($event)"
        (resMessage)="getResponseMessage($event)" #userBasedDialog></app-user-dashboard-access>
    </div>
  </div>
  <div class="cd-modal-footer-inline">
    <button class="cd-btn cd-btn-sm cd-btn-primary" *ngIf="(userDashboardPermissionObj?.can_create !== false) && userSubmitFlag" (click)="onUserBasedAccessSubmit()">Submit</button>
    <button class="cd-btn cd-btn-sm cd-btn-primary" type="button" *ngIf="(userDashboardPermissionObj?.can_update !== false) && userUpdateFlag" (click)="onUserUpdateDashboardAccess()">Update</button>
    <button class="cd-btn cd-btn-sm cd-btn-danger" *ngIf="(userDashboardPermissionObj?.can_delete !== false) && userUpdateFlag" type='button' (click)="deleteUserPermission()">Delete Permission</button>
  </div>
</div>
}

@if (showDashboardPopup) {
<div class="cd-modal-backdrop" (click)="showDashboardPopup = false"></div>
<div class="cd-modal cd-modal-sm">
  <div class="cd-modal-header">
    <div class="cd-modal-header-icon"><i class="bi bi-layout-wtf"></i></div>
    <h3 class="cd-modal-title">Create Dashboard</h3>
    <button class="cd-modal-close" type="button" (click)="showDashboardPopup = false" aria-label="Close"><i class="bi bi-x-lg"></i></button>
  </div>
  <div class="cd-modal-body">
    <form [formGroup]="dashboardCreationForm">
      <div class="form-group">
        <label for="title">Title <span class="cd-req">*</span></label>
        <input type="text" class="form-control" formControlName="dashboard_name">
        @if (dashboardCreationForm.get('title')?.invalid && dashboardCreationForm.get('title')?.touched) {
          <div style="color: red; font-size:11px;">Title is required.</div>
        }
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
    </form>
  </div>
  <div class="cd-modal-footer-inline">
    <button class="cd-btn cd-btn-sm cd-btn-primary" type="button" (click)="createDashboard()">Create</button>
  </div>
</div>
}